<div class="heading-container">
    <div class="left-gradient">
    </div>

    <div class="right-gradient">
    </div>

    <div class="star1"></div>
    <div class="star2"></div>
    <div class="sta3"></div>
    <div class="star4"></div>
    <div class="star5"></div>
    <div class="star6"></div>
    <div class="star7"></div>
    <div class="star8"></div>
    <div class="star9"></div>
    <div class="star10"></div>
    <div class="star11"></div>
    <div class="star12"></div>
    <div class="star13"></div>
    <div class="star14"></div>
    <div class="star15"></div>
    <div class="star16"></div>
    <div class="star17"></div>
    <div class="star18"></div>
    <div class="star19"></div>
    
    <div class="planet shadow">
        <div class="planet-gradient">
        </div>
    </div>
    
    <div class="bg-planet main-shadow">      
    </div>



    <div class="greeting-text">
        <p class="wish">Good Morning</p>
        <p class="name"> <%= user.name.split(' ')[0] %></p>
        <div class="line"></div>
        <p class="time">9:21 AM IST</p>
    </div>
</div>