

<div class="main-container">
    <div id="main-nav" class="nav">
        <p id="recents" onclick="getProjects('recent')" class="recents nav-active">Recent activity</p>
        <p id="favorites" onclick="getProjects('starred')" class="favorites ">Favorites</p>
        <p id="user" onclick="getProjects('user')" class="my-projects">Your projects</p>
    </div>

    <div id="cards-container" class="cards-list">

        <% for (let i = 0; i < projects.length; i++) { %>
            <%- include('project_card.ejs', {project: projects[i], favorites, moment}); %>
        <% } %>
        
    </div>
    <%- include('footer', {bottom: false}); %>

</div>



<script src="<%= assetPath('js/Home.js') %>"></script>
