

<div id="menu" class="menu-container animate__animated animate__faster remove">
    <i onclick="closeMenu()" class="fa-solid fa-xmark close-button"></i>
    <p> <i class="fa-solid fa-rocket"></i> Features</p>
    <div class="feature">
        <p><i class="fa-solid fa-right-to-bracket"></i>Email</p>
        <div class="sub-feature">
            <p> Sign Up </p>
            <p> Sign In </p>
            <p> Sign Out </p>
        </div>
    </div>

    <div class="feature">
        <p> <i class="fa-solid fa-link"></i> Forgot Password using reset link</p>
    </div>

    <div class="feature">
        <p> <i class="fa-solid fa-share-nodes"></i> Social Authentication</p>
        <div class="sub-feature">
            <p><i class="fa-brands fa-google"></i> Google</p>
            <p> <i class="fa-brands fa-facebook"></i> Facebook</p>
            <p> <i class="fa-brands fa-github"></i> Github</p>
        </div>
    </div>

    <div class="feature">
        <p><i class="fa-solid fa-bell"></i> Display notifications for actions</p>
    </div>

    <div class="feature">
        <p><i class="fa-solid fa-bell"></i> Parallel Jobs for emails</p>
    </div>

    <div class="feature">
        <p><i class="fa-solid fa-lock"></i> Store encrypted password in Database</p>
    </div>
</div>

<div id="overlay" class="overlay-container animate__animated animate__faster remove">

</div>

<script src="/js/navbar.js"></script>