<div id="menu" class="menu-container animate__animated animate__faster remove">
    <i onclick="closeMenu()" class="fa-solid fa-xmark close-button"></i>

    <div class="user-info">
        <div class="avatar">
            <img src="<%= locals.user.avatar %>" alt="avatar" />
        </div>
        <div class="name"><%= locals.user.name %></div>
        <div class="email"> <%= locals.user.email %></div>
    </div>

    <a id="sign-out-button" class="sign-out" href="/users/sign-out"
        >Sign out
    </a>
</div>

<div
    id="overlay"
    class="overlay-container animate__animated animate__faster remove"
></div>

<script src="/js/navbar.js"></script>
