<div class="navbar-container">
    <div class="search-and-nav">
        <i class="fa-brands fa-github"></i>
        <input 
            type="text" 
            id="search-project-bar"
            onchange="searchProjects(event)"
            placeholder="Search or jump to..." />
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <a id="a-home-page" class="active" href="/">Projects</a>
        <a id="a-issues-page" href="/projects">Issues</a>
        <a id="a-new-project-page" href="/new-project"> Create Project </a>
    </div>

    <div class="menu">
        <!-- <a href="/new-project">
            <button class="create-button">
                <i class="fa-solid fa-file"></i>
                <p>New Project</p>
            </button>
        </a> -->

        <i class="fa-regular fa-bell"></i>
        <!-- <img class="profile" src=''> -->
        <i onclick="openMenu()" class="fa-solid fa-bars"></i>
    </div>
</div>

<script src="/js/SearchProject.js"></script>
