<div class="navbar-container">
    <div class="search-and-nav">
        <i class="fa-brands fa-github"></i>
        <% if (locals.user) { %> 
            <input 
                type="text" 
                id="search-project-bar"
                onchange="searchProjects(event)"
                placeholder="Search or jump to..." />
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <a id="a-home-page" class="active" href="/">Projects</a>
            <a id="a-issues-page" href="/projects">Issues</a>
            <a id="a-new-project-page" href="/new-project"> Create Project </a>
        <% } else { %>
            <p style="font-size: 1.2rem; color: white; display: flex !important;">Issue Tracker</p>
        <% } %>
    </div>

    <div class="menu">
        <!-- <a href="/new-project">
            <button class="create-button">
                <i class="fa-solid fa-file"></i>
                <p>New Project</p>
            </button>
        </a> -->

        <% if (locals.user) { %> 
            <i class="fa-regular fa-bell"></i>
            <i onclick="openMenu()" class="fa-solid fa-bars"></i>
        <% } else { %>    
            <p class="info">Please sign in/up to continue <i class="fa-solid fa-arrow-right"></i></p>
            
        <% } %>


        <!-- <img class="profile" src=''> -->
        
    </div>
</div>
<script src="<%= assetPath('js/SearchProject.js') %>"></script>

