
<div class="navbar-container">
    <div class="branding">
        <img src="/img/logo.png">
        <p> <span>NodeJs</span> Auth</p>
    </div>

    <div class="menu">
        <i onclick="openMenu()" class="fa-solid fa-bars"></i>
    </div>
</div>

