
<form id="new-project-form" action="/new-project/create-project" class="new-project-container" method="post">
    <div class="heading">
        Create a new project
    </div>


    <div class="sub-heading">
        <p>A project contains all the files, libraries used to build the project. Continue to enter the details of your project</p>
    </div>

    <div class="owner">
        <div class="owner-image">
            <img src='<%= locals.user.avatar %>' alt="Avatar">
        </div>
        <div class="owner-name">
            <p>Owner</p>
            <p> <%= locals.user.name %></p>
        </div>
        
    </div>

    <div class="project-name">
        <p>Project Title</p>
        <input name="title" type="text" placeholder="Enter project title" required>
    </div>

    <div class="project-description">
        <p>Project Description</p>
        <textarea required name="description" id="project-description" cols="30" rows="3" placeholder="Enter project description"></textarea>
    </div>

    <div class="project-type">
        <p>Project Type</p>
        <select name="type" id="project-type">
            <option value="web">Web</option>
            <option value="mobile">Mobile</option>
            <option value="desktop">Desktop</option>
        </select>
    </div>

    <div class="project-visibility">
        <p>Project Visibility</p>
        <label>
            <input type="radio" name="visibility" value="public" checked>
            <i class="fa-solid fa-eye"></i>
            <p>Public</p>
            <span> (Anyone can view) </span>
        </label>
        <label>
            <input type="radio" name="visibility" value="private">
            <i class="fa-solid fa-eye-slash"></i>
            <p>Private</p> 
            <span> (Only you can view) </span>
        </label>
    </div>

    <div class="info">
        <p><i class="fa-solid fa-circle-info"></i> You are creating a public project in your personal account</p>
    </div>

    <div class="project-creation">
        <button type="submit">Create Project
        </button>
        <svg id="loader" class=" hide" viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
        
    </div>


</form>
<%- include('footer', {bottom: false}); %>

<script src="<%= assetPath('js/NewProject.js') %>"></script>
