.issues-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 90px;

    #search-results-heading {
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 30px;
        color: gray;

        i {
            margin-right: 5px;
        }
    }

    .hide {
        display: none !important;
    }

    .issue-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;

        .user-info {
            display: flex;
            align-items: center;
            color: dodgerblue;
            font-size: 1.2rem;
            font-weight: 600;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-left: 10px;
            }

            .user-name {
                margin-left: 10px;
                margin-right: 5px;
            }

            .slash {
                color: gray;
            }

            .project-title {
                margin-left: 5px;
                margin-right: 10px;
            }

            .project-visibility {
                font-weight: 400;
                font-size: 0.8rem;
                color: rgba(255, 255, 255, 0.8);
                background-color: #30363c;
                border-radius: 10px;
                padding: 1px 8px;
                border: 1px solid rgba(255, 255, 255, 0.194);
                margin-top: 2px;
            }

            .user-project-name {
                display: flex;
                align-items: center;
            }
        }

        .issue-header-right {
            .star-button {
                display: flex;
                align-items: center;

                background-color: #30363c;
                border-radius: 5px;
                padding: 3px 13px;

                border: 1px solid rgba(255, 255, 255, 0.194);

                color: #ffffff9e;

                transition: all 0.2s ease-in-out;
                cursor: pointer;
                i {
                    color: #ffffff9e;
                    margin-right: 5px;
                    margin-bottom: 2px;
                }

                &:hover {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    .border {
        width: 100%;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.42);
        margin-top: 10px;
    }

    .filter-create-bar {
        display: flex;
        align-items: center;

        position: relative;

        width: 70%;
        margin-top: 40px;

        .filter-search {
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 5px;
            padding: 0 10px;
            color: #ffffff9e;
            font-weight: 500;

            .active-filter {
                color: dodgerblue !important;
            }

            .filter-button {
                display: flex;
                align-items: center;
                font-weight: 600;

                padding: 5px 10px;
                padding-right: 20px;
                border-radius: 5px 0 0 5px;
                border: 1px solid rgba(255, 255, 255, 0.194);
                color: #ffffff9e;
                font-weight: 500;
                background-color: #30363c;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: white;
                    background-color: #2a2f35;
                }

                i {
                    color: #ffffff9e;
                    margin-left: 5px;
                }
            }

            .filters-expanded {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.194);
                background-color: #30363c;
                height: max-content;
                width: max-content;
                min-width: 200px;

                position: absolute;
                z-index: 10;
                top: 40px;
                left: 10px;

                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

                .filter-border {
                    width: 100%;
                    height: 1px;
                    background-color: rgba(128, 128, 128, 0.42);
                }

                .active-filter {
                    color: dodgerblue !important;
                }

                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    padding: 5px 10px;
                    font-size: 0.9rem;

                    #close-button-filter {
                        cursor: pointer;

                        &:hover {
                            color: white;
                        }
                    }
                }

                .filters {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    color: #ffffffbd;
                    font-size: 0.9rem;

                    .filter {
                        display: flex;

                        padding: 5px;
                        cursor: pointer;

                        .group {
                            display: flex;
                            flex-direction: column;

                            .title {
                                font-weight: 600;
                            }

                            .subheading {
                                font-size: 0.8rem;
                                color: gray;
                            }
                        }

                        i {
                            margin-right: 8px;
                            margin-top: 5px;
                        }

                        &:hover {
                            color: white;
                        }

                        .bug {
                            color: #d73a4a;
                        }

                        .help {
                            color: #28a745;
                        }

                        .invalid {
                            color: #6f42c1;
                        }

                        .question {
                            color: #d876e3;
                        }
                    }
                }
            }

            .search {
                display: flex;
                align-items: center;
                font-size: 1rem;
                width: 100%;
                input {
                    outline: none;
                    border: none;

                    width: 100%;
                    padding: 7px 20px;
                    padding-left: 30px;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid rgba(255, 255, 255, 0.194);
                    color: #ffffff9e;
                    font-weight: 500;
                    background-color: black;
                    border-left: none;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid rgba(255, 255, 255, 0.594);
                    }

                    &:focus {
                        border: 1px solid rgba(255, 255, 255, 0.594);
                    }
                }

                i {
                    position: relative;
                    z-index: 1;
                    color: #ffffff9e;
                    margin-right: -25px;
                    margin-bottom: 2px;
                }
            }
        }

        .label-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.194);
            color: #ffffff9e;
            font-weight: 500;
            background-color: #30363c;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            font-size: 1rem;

            &:hover {
                color: white;
                background-color: #2a2f35;
            }

            i {
                color: #ffffff9e;
                margin-right: 5px;
                margin-bottom: 2px;
            }
        }

        .labels-expanded {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.194);
            background-color: #30363c;
            height: max-content;
            width: max-content;

            position: absolute;
            z-index: 10;
            top: 40px;
            right: 110px;

            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

            .label-border {
                width: 100%;
                height: 1px;
                background-color: rgba(128, 128, 128, 0.42);
            }

            .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                padding: 5px 10px;
                font-size: 0.9rem;

                #close-button {
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }
            }

            .labels {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                width: 100%;
                height: 100%;
                color: #ffffffbd;
                font-size: 0.9rem;

                .label {
                    display: flex;

                    padding: 5px;
                    cursor: pointer;

                    .group {
                        display: flex;
                        flex-direction: column;

                        .title {
                            font-weight: 600;
                        }

                        .subheading {
                            font-size: 0.8rem;
                            color: gray;
                        }
                    }

                    i {
                        margin-right: 8px;
                        margin-top: 5px;
                    }

                    &:hover {
                        color: white;
                    }

                    .bug {
                        color: #d73a4a;
                    }

                    .help {
                        color: #28a745;
                    }

                    .invalid {
                        color: #6f42c1;
                    }

                    .question {
                        color: #d876e3;
                    }
                }
            }
        }

        .active-label {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.194);
            color: #ffffffd6;
            font-weight: 500;
            background-color: #30363c;
            transition: all 0.2s ease-in-out;

            transition: all 0.2s ease-in-out;
            font-size: 1rem;

            i {
                cursor: pointer;
                color: #ffffff9e;
                margin-left: 5px;

                &:hover {
                    color: white;
                }
            }
        }

        .bug-active {
            background-color: #d73a4a;
        }

        .help-active {
            background-color: #28a745;
        }

        .invalid-active {
            background-color: #6f42c1;
        }

        .question-active {
            background-color: #d876e3;
        }

        .hide-active {
            display: none !important;
        }

        .create-button {
            min-width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            padding: 3px 10px;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.194);
            color: white;
            font-weight: 500;
            background-color: #29a33f;
            transition: all 0.2s ease-in-out;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: lighten($color: #29a33f, $amount: 20%);
            }
        }
    }

    .issue-nav {
        display: flex;
        align-items: center;

        width: 70%;
        margin-top: 30px;
        margin-left: 10px;

        a {
            text-decoration: none;
            margin: 0;
            padding: 0;
            margin-left: 1px;
            margin-right: 10px;
            font-weight: 500;
            padding: 5px 10px;
            color: rgb(192, 192, 192);
            transition: all 0.2s ease-in-out;
            background-color: #2a2f35;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.194);

            &:hover {
                color: white;
            }
        }
    }
    .active {
        color: white !important;
        border-bottom: orange 2px solid !important;
    }

    .active-open {
        color: white !important;
        border-bottom: #28a745 2px solid !important;
    }

    .active-closed {
        color: white !important;
        border-bottom: #6f42c1 2px solid !important;
    }

    .issues-list {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-height: auto;
        border: 1px solid rgba(255, 255, 255, 0.194);
        border-radius: 10px;

        margin-top: 30px;
        background-color: #0e1117;

        .no-issues {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            i {
                font-size: 1.5rem;
                color: #ffffff9e;
                margin: 10px;
                margin-top: 10%;
            }

            .heading {
                font-size: 1.5rem;
                font-weight: 600;
                color: white;
                margin: 10px;
            }

            .sub-heading {
                width: 70%;
                text-align: center;
                color: #ffffff9e;
                margin-bottom: 10%;

                span {
                    color: dodgerblue;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover {
                        color: lighten($color: dodgerblue, $amount: 0);
                    }
                }
            }
        }

        .issue-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.194);

            .left {
                display: flex;
                align-items: center;

                i {
                    align-self: flex-start;
                    color: #29a33f;
                    margin-top: 8px;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    .title {
                        font-size: 1rem;
                        font-weight: 600;
                        color: white;
                        margin: 5px;
                        margin-bottom: 0px;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        text-decoration: none;

                        &:hover {
                            color: dodgerblue;
                        }
                    }

                    .stats {
                        align-self: flex-start;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff9e;
                        font-size: 0.8rem;
                        font-weight: 500;
                        margin: 5px;
                        margin-top: 0px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .right {
                display: flex;
                align-items: center;
                width: 120px;
                justify-content: space-around;

                .labels {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .label {
                        padding: 1px 10px;
                        border-radius: 15px;
                        border: 1px solid rgba(255, 255, 255, 0.194);
                        color: #ffffff9e;
                        font-weight: 500;
                        background-color: #30363c;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        font-size: 0.9rem;

                        &:hover {
                            color: white;
                            background-color: #2a2f35;
                        }

                        i {
                            color: #ffffff9e;
                            margin-right: 5px;
                            margin-bottom: 2px;
                        }
                    }

                    .bug {
                        background-color: #d73a4a7d;
                        border: #d73a4a solid 1px;

                        &:hover {
                            background-color: #d73a4a;
                            border: #d73a4a solid 1px;
                            box-shadow: 0 0 20px #d73a4a98;
                        }
                    }

                    .help {
                        background-color: #28a7457d;
                        border: #28a745 solid 1px;

                        &:hover {
                            background-color: #28a745;
                            border: #28a745 solid 1px;
                            box-shadow: 0 0 20px #28a74598;
                        }
                    }

                    .invalid {
                        background-color: #6f42c17d;
                        border: #6f42c1 solid 1px;

                        &:hover {
                            background-color: #6f42c1;
                            border: #6f42c1 solid 1px;
                            box-shadow: 0 0 20px #6f42c198;
                        }
                    }

                    .question {
                        background-color: #d876e37d;
                        border: #d876e3 solid 1px;

                        &:hover {
                            background-color: #d876e3;
                            border: #d876e3 solid 1px;
                            box-shadow: 0 0 20px #d876e398;
                        }
                    }
                }

                .comments {
                    display: flex;
                    align-items: center;
                    color: #ffffff9e;

                    i {
                        margin-right: 5px;
                        color: #ffffff9e;
                    }
                }
            }
        }
    }

    .tip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        border-radius: 0 0 10px 10px;
        color: #ffffff9e;
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 10px;

        i {
            margin-right: 5px;
        }
    }
}
