.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 0;
    min-height: 90vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%
    );
    padding-top: 20px;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        min-width: 500px;

        border-bottom: 1px solid #ffffff6c;

        p {
            margin: 0;
            padding: 0;
            margin-left: 1px;
            margin-right: 10px;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 10px;
            color: gray;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }

        .my-projects {
            margin-right: 0;
        }

        .nav-active {
            color: white;
            border-bottom: orange 2px solid;
        }
    }

    .cards-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

// for mobile devices
@media screen and (max-width: '425px') {
    .main-container {


        .nav {

            width: 100%;
            min-width: 300px;
            padding: 0px 5px;


            border-bottom: 1px solid #ffffff6c;

            p {

                font-size: 0.9rem;


                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }

            .my-projects {
                margin-right: 0;
            }

            .nav-active {
                color: white;
                border-bottom: orange 2px solid;
            }
        }

    }
}
