.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0%;
    z-index: 999;
    width: 100vw;
    height: auto;
    font-size: 1.3rem;
    background-color: #0E1117;

    a {
        text-decoration: none;
        
    }

    .search-and-nav {
        display: flex;
        align-items: center;
        padding: 10px;

        img {
            height: 50px;
        }

        i {
            font-size: 2rem;
            color: #fff;
        }

        input {
            width: 300px;
            margin-left: 20px;
            margin-right: 10px;
            padding: 7px 10px;
            border-radius: 7px;
            border: none;
            outline: none;
            color: #fff;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.506);
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:focus {
                border: 1px solid white;
            }
            &:hover {
                border: 1px solid white;
            }
        }

        .search-icon {
            margin-left: -40px;
            font-size: 1.1rem;
            margin-right: 20px;
            color: rgba(255, 255, 255, 0.527);
        }

        a, p {
            margin-left: 16px;
            font-size: 1rem;
            font-weight: 500;
            color: gray;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: white;
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100px;

        margin-right: 15px;
        cursor: pointer;

        i {
            font-size: 1.5rem;
            color: #fff;
        }

        .create-button {
            display: flex;
            align-items: center;
            padding: 7px 20px;
            border-radius: 10px;
            background-color: transparent;
            border: none;
            color: white;
            border: 1px solid #29a33f;
            font-weight: 600;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            background-color: #29a33f;

            i {
                font-size: 1.2rem;
                margin-right: 5px;
            }
            &:hover {
                background-color: #48c25e;
            }
        }
    }
}

// For mobile devices

@media screen and (max-width: '480px') {
    .navbar-container {
        .branding {
            padding: 5px;

            img {
                height: 36px;
            }

            p {
                margin-left: 8px;
                font-size: 1.2rem;
                span {
                    font-size: 1.7rem;
                }
            }
        }

        .menu {
            margin-right: 15px;
            cursor: pointer;
        }
    }
}
