.card-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 20px;
    min-width: 600px;

    position: relative;

    .user-info {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 10px;
        }

        .user-name {
            margin-left: 10px;
        }

        .day {
            margin-left: 10px;
            color: #ffffff6c;
            font-size: 0.9rem;
        }
    }

    .project-info {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #161b22;
        margin: 10px 0;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.194);
        transition: all 0.2s ease-in-out;

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        .title {
            font-weight: 600;
            cursor: pointer;
            width: fit-content;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: dodgerblue;
            }
        }

        .description {
            margin: 10px 0;
            color: #ffffff6c;
        }

        .card-footer {
            display: flex;
            align-items: center;
            color: #ffffff6c;

            .type {
                text-transform: capitalize;

                i {
                    color: orangered;
                    margin-right: 5px;
                }
            }

            .stars {
                margin-left: 10px;
                i {
                    color: white;
                    margin-right: 5px;
                }
            }
        }

        .star-button {
            display: flex;
            align-items: center;

            background-color: #30363c;
            border-radius: 5px;
            padding: 3px 13px;

            border: 1px solid rgba(255, 255, 255, 0.194);

            position: absolute;
            top: 20px;
            right: 30px;
            z-index: 3;
            color: #ffffff9e;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            i {
                color: #ffffff9e;
                margin-right: 5px;
                margin-bottom: 2px;
            }

            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
        }
    }

    .issues {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 15px;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        background-color: dodgerblue;

        &:hover {
            background-color: lighten($color: dodgerblue, $amount: 10%);
        }
    }
}

// for mobile devices
@media screen and (max-width: '425px') {
    .card-container {
        width: 100vw;
        min-width: 350px;

        .user-info {
            padding: 0px 10px;
        }

        .project-info {
            border-left: none;
            border-right: none;
            border-radius: 0px;
        }

        .star-button {
            font-size: 0.9rem;
            padding: 4px 10px;
            border-radius: 9px;
            right: 16px !important;
        }

        .issues {
            font-size: 0.9rem;
            padding: 4px 10px;
            border-radius: 9px;
            right: 15px;
        }
    }
}
