$button-color-blue: #0057D2; 
$button-hover-color: #D1EFFF;
$button-color-red: #D20A0A; 
$text-color-gray: #d0d0d0; 
$button-color-gray: #1A2733; 




.user-sign-up {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 20px;
    display: flex;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    
    transition: all .3s;

    .outline-effect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        background-color: #12171C;
        border-radius: 20px;
        padding: 0 30px;

        .welcome-div {
            margin: 20px;
            display: flex;
            flex-direction: column;
    
            align-items: flex-start;
            
            img {
                display: none;
                border-radius: 50%;
                height: 70px;
                width: 70px;
                object-fit: cover;
            }
    
            p {
                
                
                display: flex;
                align-items: center;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-top: -4px;
                font-size: 1.5rem;
                font-weight: 600;
    
                i {
                    background-color: white;
                    color: #12171C;
                    border-radius: 50%;
                    padding: 5px 6px;
                    font-size: 1rem;
                    margin: 5px;
                }
                
                
            }
        }
    
    
        form {
            display: flex;
            flex-direction: column;
    
            .input-with-icon {
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: $button-color-gray;
                border-radius: 10px;
                margin: 7px;
                color: white;
                border: none;
                
    
                i {
                    margin-left: 5px;
                    font-size: 1.2rem;
                }
    
                
            }
    
            #signup-toggle-password {
                cursor: pointer;
                transition: 0.3s all ease-in-out;
            }
            
    
            input {
                font-size: 1rem;
                margin-left: 15px;
                width: 90%;
                background-color: $button-color-gray;
                border-radius: 10px;
                
                color: white;
                border: none;
    
                &:focus {
                    outline: none;
                }
    
                &:-webkit-autofill {
                    background-color: $button-color-gray !important;
                }
    
                
    
            }
    
            #submit-button {
                --primary-color: #645bff;
                --secondary-color: #fff;
                --hover-color: #111;
                --arrow-width: 10px;
                --arrow-stroke: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;
                margin-top: 8px;
                padding: 10px;
                background-color: $button-color-blue;
                color: white;
                font-size: 1rem;
                border-radius: 15px;
                border: none;
                font-weight: 500;
                text-decoration: none;
                background: linear-gradient(130deg, rgba(18,119,243,1) 0%, rgba(11,73,149,1) 97%);
                transition: 0.2s all ease-out;
                cursor: pointer;

                .arrow-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px;
                }
                
                .arrow {
                    margin-top: 1px;
                    width: var(--arrow-width);
                    background: var(--primary-color);
                    height: var(--arrow-stroke);
                    position: relative;
                    transition: 0.2s;
                }
                
                .arrow::before {
                    content: "";
                    box-sizing: border-box;
                    position: absolute;
                    border: solid var(--secondary-color);
                    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
                    display: inline-block;
                    top: -3px;
                    right: 3px;
                    transition: 0.2s;
                    padding: 3px;
                    transform: rotate(-45deg);
                }
                
                &:hover {
                    background: linear-gradient(130deg, rgba(18, 119, 243, 0.747) 0%, rgba(11, 73, 149, 0.699) 97%);
                }
                
                &:hover .arrow {
                    background: var(--secondary-color);
                }
                
                &:hover .arrow:before {
                    right: 0;
                }

            }
        }
    
    
        .option-text {
            color: $text-color-gray;
            margin: 10px;
            align-self: center;
            font-size: 0.9rem;
    
            a {
                text-decoration: none;
                font-size: 1rem;
                font-weight: 700;
                color: $button-color-blue;
                transition: 0.2s all ease-out;

                &:hover {
                    color: #367ee2;
                }
    
    
            }
        }
    
        .auth-options {
            display: flex;
            justify-content: center;
            margin: 10px;
    
            #google-auth, #fb-auth, #git-auth {
                font-size: 1.3rem;
                margin: 5px;
                padding: 10px 20px;
                background-color: $button-color-gray;
                border-radius: 15px;
                color: white;
                text-decoration: none;
    
            }
    
            #google-auth {
                padding: 5px 15px;
                display: flex;
                align-items: center;
                background: white;
                img {
                    height: 28px;
                    width: 28px;
                }
            }
    
            #fb-auth {
                background: rgb(18,119,243);
                background: linear-gradient(130deg, rgba(18,119,243,1) 0%, rgba(11,73,149,1) 97%);
            }
        }
    }

    
}



.remove {
    display: none;
}





@media screen and (max-width: "480px") {


    .user-sign-up {
        max-width: 88vw;

        .outline-effect {
            height: 80vh;

            .welcome-div {
                p {
                    font-size: 1.3rem;
                }
            }
        }

        

    }
}