.new-project-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(149, 157, 165, 0.1);
  border-radius: 6px;
  margin-top: 70px; }
  .new-project-container .heading {
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.855);
    margin-bottom: 6px; }
  .new-project-container .sub-heading {
    font-size: 16px;
    color: #959da5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: rgba(255, 255, 255, 0.416) 1px solid; }
  .new-project-container .owner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: rgba(255, 255, 255, 0.416) 1px solid; }
    .new-project-container .owner .owner-name {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.855);
      font-weight: 600; }
      .new-project-container .owner .owner-name p:last-child {
        margin: 0;
        font-size: 14px;
        color: #959da5;
        font-weight: normal; }
    .new-project-container .owner .owner-image {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden; }
      .new-project-container .owner .owner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .new-project-container .project-name,
  .new-project-container .project-description,
  .new-project-container .project-type,
  .new-project-container .project-creation {
    margin-bottom: 24px; }
    .new-project-container .project-name p,
    .new-project-container .project-description p,
    .new-project-container .project-type p,
    .new-project-container .project-creation p {
      margin-bottom: 8px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.855);
      font-weight: 600; }
    .new-project-container .project-name input[type='text'],
    .new-project-container .project-name textarea,
    .new-project-container .project-name select,
    .new-project-container .project-description input[type='text'],
    .new-project-container .project-description textarea,
    .new-project-container .project-description select,
    .new-project-container .project-type input[type='text'],
    .new-project-container .project-type textarea,
    .new-project-container .project-type select,
    .new-project-container .project-creation input[type='text'],
    .new-project-container .project-creation textarea,
    .new-project-container .project-creation select {
      width: 100%;
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, 0.421);
      border-radius: 6px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: white;
      background-color: #0e1117;
      transition: all 0.2s ease; }
      .new-project-container .project-name input[type='text']:focus,
      .new-project-container .project-name textarea:focus,
      .new-project-container .project-name select:focus,
      .new-project-container .project-description input[type='text']:focus,
      .new-project-container .project-description textarea:focus,
      .new-project-container .project-description select:focus,
      .new-project-container .project-type input[type='text']:focus,
      .new-project-container .project-type textarea:focus,
      .new-project-container .project-type select:focus,
      .new-project-container .project-creation input[type='text']:focus,
      .new-project-container .project-creation textarea:focus,
      .new-project-container .project-creation select:focus {
        border: 1px solid #0366d6;
        outline: none; }
    .new-project-container .project-name textarea,
    .new-project-container .project-description textarea,
    .new-project-container .project-type textarea,
    .new-project-container .project-creation textarea {
      resize: none; }
    .new-project-container .project-name select,
    .new-project-container .project-description select,
    .new-project-container .project-type select,
    .new-project-container .project-creation select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 16px; }
  .new-project-container .project-visibility {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    .new-project-container .project-visibility p {
      font-weight: bold;
      margin-bottom: 0.5rem; }
    .new-project-container .project-visibility label {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer; }
      .new-project-container .project-visibility label:last-of-type {
        margin-bottom: 0; }
      .new-project-container .project-visibility label input[type='radio'] {
        display: none; }
        .new-project-container .project-visibility label input[type='radio']:checked + i {
          color: #1b90ff; }
        .new-project-container .project-visibility label input[type='radio']:not(:checked) + i {
          color: #d0d4db; }
      .new-project-container .project-visibility label i {
        font-size: 1.25rem;
        margin-right: 0.5rem;
        transition: all 0.2s ease; }
      .new-project-container .project-visibility label p {
        margin: 0; }
      .new-project-container .project-visibility label span {
        color: #586069;
        margin-left: 10px;
        font-size: 0.9rem; }
  .new-project-container .info {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    border-bottom: rgba(255, 255, 255, 0.416) 1px solid;
    border-top: rgba(255, 255, 255, 0.416) 1px solid; }
  .new-project-container .project-creation {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    margin-bottom: 15px; }
    .new-project-container .project-creation button {
      color: #fff;
      background-color: transparent;
      border: none;
      font-weight: 600; }
    .new-project-container .project-creation svg {
      position: relative;
      z-index: 10;
      margin: 0;
      margin-left: 10px;
      width: 2em;
      height: 1.3em;
      transform-origin: center;
      animation: rotate4 2s linear infinite;
      color: white; }
      .new-project-container .project-creation svg circle {
        fill: none;
        stroke: white;
        stroke-width: 4;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite; }
    .new-project-container .project-creation .hide {
      display: none; }
    .new-project-container .project-creation:hover {
      background-color: #34ce57; }

@keyframes rotate4 {
  100% {
    transform: rotate(360deg); } }

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dashoffset: -125px; } }
