.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-color: #12171C;
  border-radius: 20px;
  padding: 0 30px; }
  .reset-password-container .welcome-div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: flex-start; }
    .reset-password-container .welcome-div img {
      display: none;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      object-fit: cover; }
    .reset-password-container .welcome-div p {
      display: flex;
      align-items: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-top: -4px;
      font-size: 1.5rem;
      font-weight: 600; }
      .reset-password-container .welcome-div p i {
        background-color: white;
        color: #12171C;
        border-radius: 50%;
        padding: 5px 6px;
        font-size: 1rem;
        margin: 5px; }
  .reset-password-container form {
    display: flex;
    flex-direction: column; }
    .reset-password-container form .input-with-icon {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #1A2733;
      border-radius: 10px;
      margin: 7px;
      color: white;
      border: none; }
      .reset-password-container form .input-with-icon i {
        margin-left: 5px;
        font-size: 1.2rem; }
    .reset-password-container form #toggle-password {
      cursor: pointer;
      transition: 0.3s all ease-in-out; }
    .reset-password-container form #email-input, .reset-password-container form #pass-input, .reset-password-container form #name-input {
      font-size: 1rem;
      margin-left: 15px;
      width: 90%;
      background-color: #1A2733;
      border-radius: 10px;
      color: white;
      border: none; }
      .reset-password-container form #email-input:focus, .reset-password-container form #pass-input:focus, .reset-password-container form #name-input:focus {
        outline: none; }
      .reset-password-container form #email-input:-webkit-autofill, .reset-password-container form #pass-input:-webkit-autofill, .reset-password-container form #name-input:-webkit-autofill {
        background-color: #1A2733 !important; }
    .reset-password-container form #submit-button {
      margin: 5px;
      margin-top: 8px;
      padding: 10px;
      background-color: #0057D2;
      color: white;
      font-size: 1rem;
      border-radius: 15px;
      border: none;
      font-weight: 500;
      text-decoration: none;
      background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%); }
  .reset-password-container .option-text {
    color: #d0d0d0;
    margin: 10px;
    align-self: center;
    font-size: 0.9rem; }
    .reset-password-container .option-text a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 700;
      color: #0057D2; }
  .reset-password-container .auth-options {
    display: flex;
    justify-content: center;
    margin: 10px; }
    .reset-password-container .auth-options #google-auth, .reset-password-container .auth-options #fb-auth, .reset-password-container .auth-options #git-auth {
      font-size: 1.3rem;
      margin: 5px;
      padding: 10px 20px;
      background-color: #1A2733;
      border-radius: 15px;
      color: white;
      text-decoration: none; }
    .reset-password-container .auth-options #google-auth {
      padding: 5px 15px;
      display: flex;
      align-items: center;
      background: white; }
      .reset-password-container .auth-options #google-auth img {
        height: 28px;
        width: 28px; }
    .reset-password-container .auth-options #fb-auth {
      background: #1277f3;
      background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%); }

.remove {
  display: none; }

@media screen and (max-width: 480px) {
  .reset-password-container {
    max-width: 88vw; }
    .reset-password-container .welcome-div p {
      font-size: 1.3rem; } }
