.discussion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: 90px; }
  .discussion-container .discussion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; }
    .discussion-container .discussion-header .user-info {
      display: flex;
      align-items: center;
      color: dodgerblue;
      font-size: 1.2rem;
      font-weight: 600; }
      .discussion-container .discussion-header .user-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 10px; }
      .discussion-container .discussion-header .user-info .user-name {
        margin-left: 10px;
        margin-right: 5px; }
      .discussion-container .discussion-header .user-info .slash {
        color: gray; }
      .discussion-container .discussion-header .user-info .project-title {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer; }
        .discussion-container .discussion-header .user-info .project-title:hover {
          color: #84c2ff; }
      .discussion-container .discussion-header .user-info .new-issue {
        margin-left: 5px;
        margin-right: 10px; }
      .discussion-container .discussion-header .user-info .project-visibility {
        font-weight: 400;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.8);
        background-color: #30363c;
        border-radius: 10px;
        padding: 1px 8px;
        border: 1px solid rgba(255, 255, 255, 0.194);
        margin-top: 2px; }
      .discussion-container .discussion-header .user-info .user-project-name {
        display: flex;
        align-items: center; }
    .discussion-container .discussion-header .discussion-header-right .star-button {
      display: flex;
      align-items: center;
      background-color: #30363c;
      border-radius: 5px;
      padding: 3px 13px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      color: #ffffff9e; }
      .discussion-container .discussion-header .discussion-header-right .star-button i {
        color: #ffffff9e;
        margin-right: 5px;
        margin-bottom: 2px; }
  .discussion-container .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.194); }
    .discussion-container .main-content .issue-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .discussion-container .main-content .issue-info .info-left {
        display: flex;
        flex-direction: column; }
        .discussion-container .main-content .issue-info .info-left .title {
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          font-weight: 500;
          margin-bottom: 10px; }
          .discussion-container .main-content .issue-info .info-left .title .issue-number {
            margin-left: 10px; }
          .discussion-container .main-content .issue-info .info-left .title .labels {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px; }
            .discussion-container .main-content .issue-info .info-left .title .labels .label {
              padding: 1px 10px;
              border-radius: 15px;
              border: 1px solid rgba(255, 255, 255, 0.194);
              color: #ffffff9e;
              font-weight: 500;
              background-color: #30363c;
              transition: all 0.2s ease-in-out;
              cursor: pointer;
              font-size: 0.9rem; }
              .discussion-container .main-content .issue-info .info-left .title .labels .label:hover {
                color: white;
                background-color: #2a2f35; }
              .discussion-container .main-content .issue-info .info-left .title .labels .label i {
                color: #ffffff9e;
                margin-right: 5px;
                margin-bottom: 2px; }
            .discussion-container .main-content .issue-info .info-left .title .labels .bug {
              background-color: #d73a4a7d;
              border: #d73a4a solid 1px; }
              .discussion-container .main-content .issue-info .info-left .title .labels .bug:hover {
                background-color: #d73a4a;
                border: #d73a4a solid 1px;
                box-shadow: 0 0 20px #d73a4a98; }
            .discussion-container .main-content .issue-info .info-left .title .labels .help {
              background-color: #28a7457d;
              border: #28a745 solid 1px; }
              .discussion-container .main-content .issue-info .info-left .title .labels .help:hover {
                background-color: #28a745;
                border: #28a745 solid 1px;
                box-shadow: 0 0 20px #28a74598; }
            .discussion-container .main-content .issue-info .info-left .title .labels .invalid {
              background-color: #6f42c17d;
              border: #6f42c1 solid 1px; }
              .discussion-container .main-content .issue-info .info-left .title .labels .invalid:hover {
                background-color: #6f42c1;
                border: #6f42c1 solid 1px;
                box-shadow: 0 0 20px #6f42c198; }
            .discussion-container .main-content .issue-info .info-left .title .labels .question {
              background-color: #d876e37d;
              border: #d876e3 solid 1px; }
              .discussion-container .main-content .issue-info .info-left .title .labels .question:hover {
                background-color: #d876e3;
                border: #d876e3 solid 1px;
                box-shadow: 0 0 20px #d876e398; }
        .discussion-container .main-content .issue-info .info-left .status-stats {
          display: flex;
          align-items: center;
          color: #ffffff9e; }
          .discussion-container .main-content .issue-info .info-left .status-stats .status {
            margin-right: 10px;
            background-color: #29a33f;
            border-radius: 15px;
            padding: 5px 13px;
            color: white;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 0.9rem; }
            .discussion-container .main-content .issue-info .info-left .status-stats .status i {
              font-size: 1rem; }
          .discussion-container .main-content .issue-info .info-left .status-stats .stats {
            display: flex;
            align-items: center;
            font-size: 0.9rem; }
            .discussion-container .main-content .issue-info .info-left .status-stats .stats .stat {
              margin-right: 10px; }
            .discussion-container .main-content .issue-info .info-left .status-stats .stats .comments {
              margin-left: 10px; }
      .discussion-container .main-content .issue-info .info-right {
        display: flex;
        align-items: center;
        font-size: 0.8rem; }
        .discussion-container .main-content .issue-info .info-right .edit-button {
          display: flex;
          align-items: center;
          padding: 4px 20px;
          border-radius: 5px;
          background-color: transparent;
          border: none;
          color: white;
          border: 1px solid rgba(255, 255, 255, 0.194);
          font-weight: 600;
          transition: all 0.1s ease-in-out;
          cursor: pointer;
          background-color: #30363c;
          margin-right: 5px; }
          .discussion-container .main-content .issue-info .info-right .edit-button:hover {
            background-color: #30363c; }
        .discussion-container .main-content .issue-info .info-right .new-issue-button {
          display: flex;
          align-items: center;
          padding: 4px 20px;
          border-radius: 5px;
          background-color: transparent;
          border: none;
          color: white;
          border: 1px solid #29a33f;
          font-weight: 600;
          transition: all 0.1s ease-in-out;
          cursor: pointer;
          background-color: #29a33f; }
          .discussion-container .main-content .issue-info .info-right .new-issue-button:hover {
            background-color: #48c25e; }
  .discussion-container .comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; }
    .discussion-container .comments-list .owner {
      --heading-color: #15223a;
      --border-color: #1F4272; }
    .discussion-container .comments-list .comment {
      --heading-color: #161B22;
      --border-color: rgba(255, 255, 255, 0.194); }
    .discussion-container .comments-list .comment, .discussion-container .comments-list .owner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      border: 1px solid var(--border-color);
      background-color: #0E1117;
      border-radius: 10px;
      margin-top: 50px;
      position: relative; }
      .discussion-container .comments-list .comment:before, .discussion-container .comments-list .owner:before {
        content: '';
        position: absolute;
        top: 26px;
        left: -5px;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid rgba(255, 255, 255, 0.531);
        color: #0e1117; }
      .discussion-container .comments-list .comment img, .discussion-container .comments-list .owner img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: -60px;
        top: 15px;
        z-index: 1; }
      .discussion-container .comments-list .comment .heading, .discussion-container .comments-list .owner .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--heading-color);
        font-size: 0.9rem;
        border-radius: 10px 10px 0 0;
        padding: 7px 20px; }
        .discussion-container .comments-list .comment .heading .author-name, .discussion-container .comments-list .owner .heading .author-name {
          font-weight: 500; }
        .discussion-container .comments-list .comment .heading .comment-time, .discussion-container .comments-list .owner .heading .comment-time {
          color: #ffffff9e; }
        .discussion-container .comments-list .comment .heading .label, .discussion-container .comments-list .owner .heading .label {
          display: flex;
          align-items: center; }
          .discussion-container .comments-list .comment .heading .label .owner-label, .discussion-container .comments-list .comment .heading .label .author-label, .discussion-container .comments-list .owner .heading .label .owner-label, .discussion-container .comments-list .owner .heading .label .author-label {
            font-size: 0.8rem;
            background-color: #15223a80;
            color: white;
            padding: 3px 10px;
            border-radius: 15px;
            margin-left: 10px;
            border: 1px solid #1F4272; }
          .discussion-container .comments-list .comment .heading .label .author-label, .discussion-container .comments-list .owner .heading .label .author-label {
            border: 1px solid rgba(255, 255, 255, 0.194); }
      .discussion-container .comments-list .comment .comment-body, .discussion-container .comments-list .owner .comment-body {
        padding: 20px;
        font-size: 1rem;
        color: #ffffff9e;
        align-self: flex-start; }
      .discussion-container .comments-list .comment .vertical-track, .discussion-container .comments-list .owner .vertical-track {
        width: 2px;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.194);
        position: absolute;
        left: 5%;
        bottom: -52%; }
  .discussion-container .border {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.194);
    margin-top: 50px; }
  .discussion-container #new-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.194);
    background-color: #0E1117;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    position: relative; }
    .discussion-container #new-comment-form:before {
      content: "";
      position: absolute;
      top: 26px;
      left: -5px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid rgba(255, 255, 255, 0.531);
      color: #0E1117; }
    .discussion-container #new-comment-form img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      left: -60px;
      top: 15px;
      z-index: 1; }
    .discussion-container #new-comment-form .form-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      margin-bottom: 20px;
      align-self: flex-start; }
    .discussion-container #new-comment-form input, .discussion-container #new-comment-form textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, 0.421);
      border-radius: 6px;
      color: white;
      background-color: black;
      transition: all 0.2s ease;
      margin: 10px; }
      .discussion-container #new-comment-form input:focus, .discussion-container #new-comment-form textarea:focus {
        border: 1px solid #0366d6;
        outline: none; }
    .discussion-container #new-comment-form textarea {
      resize: vertical; }
    .discussion-container #new-comment-form .label-submit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .discussion-container #new-comment-form .label-submit .new-comment {
        align-self: flex-end;
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin: 10px;
        margin-top: 20px;
        margin-right: 0;
        padding: 5px 20px;
        font-weight: 600;
        color: #fff;
        background-color: #28a745;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: fit-content; }
        .discussion-container #new-comment-form .label-submit .new-comment button {
          color: #fff;
          background-color: transparent;
          border: none;
          font-weight: 600; }
        .discussion-container #new-comment-form .label-submit .new-comment svg {
          position: relative;
          z-index: 10;
          margin: 0;
          margin-left: 10px;
          width: 2em;
          height: 1.3em;
          transform-origin: center;
          animation: rotate4 2s linear infinite;
          color: white; }
          .discussion-container #new-comment-form .label-submit .new-comment svg circle {
            fill: none;
            stroke: white;
            stroke-width: 4;
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            animation: dash4 1.5s ease-in-out infinite; }
        .discussion-container #new-comment-form .label-submit .new-comment .hide {
          display: none; }
        .discussion-container #new-comment-form .label-submit .new-comment:hover {
          background-color: #34ce57; }
    .discussion-container #new-comment-form .close-issue-button {
      display: flex;
      align-items: center;
      background-color: #30363c;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.194); }
      .discussion-container #new-comment-form .close-issue-button i {
        margin-right: 5px;
        color: violet;
        font-size: 1.1rem; }
      .discussion-container #new-comment-form .close-issue-button:hover {
        background-color: #475058; }

.error-toast {
  border-radius: 5px; }
