.forgot-password-container {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border-radius: 20px;
  display: flex;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  transition: all .3s; }
  .forgot-password-container .outline-effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 59vh;
    background-color: #12171C;
    border-radius: 20px;
    padding: 0 30px; }
    .forgot-password-container .outline-effect .welcome-div {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5px; }
      .forgot-password-container .outline-effect .welcome-div img {
        display: none;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        object-fit: cover; }
      .forgot-password-container .outline-effect .welcome-div p {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        font-family: cursive;
        font-weight: 700; }
        .forgot-password-container .outline-effect .welcome-div p span {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin-top: -4px;
          font-size: 2.5rem;
          font-weight: 600; }
    .forgot-password-container .outline-effect form {
      display: flex;
      flex-direction: column; }
      .forgot-password-container .outline-effect form .input-with-icon {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #1A2733;
        border-radius: 10px;
        margin: 7px;
        color: white;
        border: none; }
        .forgot-password-container .outline-effect form .input-with-icon i {
          margin-left: 5px;
          font-size: 1.2rem; }
      .forgot-password-container .outline-effect form #toggle-password {
        cursor: pointer;
        transition: 0.3s all ease-in-out; }
      .forgot-password-container .outline-effect form #email-input, .forgot-password-container .outline-effect form #pass-input {
        font-size: 1rem;
        margin-left: 15px;
        width: 90%;
        background-color: #1A2733;
        border-radius: 10px;
        color: white;
        border: none; }
        .forgot-password-container .outline-effect form #email-input:focus, .forgot-password-container .outline-effect form #pass-input:focus {
          outline: none; }
        .forgot-password-container .outline-effect form #email-input:-webkit-autofill, .forgot-password-container .outline-effect form #pass-input:-webkit-autofill {
          -webkit-text-fill-color: white !important;
          transition: background-color 5000s ease-in-out 0s;
          font-size: 1rem; }
      .forgot-password-container .outline-effect form .forgot-password-container {
        align-self: flex-end;
        margin: 5px;
        margin-right: 10px; }
      .forgot-password-container .outline-effect form #submit-button {
        margin: 5px;
        margin-top: 8px;
        padding: 10px;
        background-color: #0057D2;
        color: white;
        font-size: 1rem;
        border-radius: 15px;
        border: none;
        font-weight: 500;
        text-decoration: none;
        background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%); }
    .forgot-password-container .outline-effect .option-text {
      color: #d0d0d0;
      margin: 10px;
      align-self: center;
      font-size: 0.9rem; }
      .forgot-password-container .outline-effect .option-text a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        color: #0057D2;
        transition: 0.2s all ease-out; }
        .forgot-password-container .outline-effect .option-text a:hover {
          color: #367ee2; }
    .forgot-password-container .outline-effect .auth-options {
      display: flex;
      justify-content: center;
      margin: 10px; }
      .forgot-password-container .outline-effect .auth-options #google-auth, .forgot-password-container .outline-effect .auth-options #fb-auth, .forgot-password-container .outline-effect .auth-options #git-auth {
        font-size: 1.3rem;
        margin: 5px;
        padding: 10px 20px;
        background-color: #1A2733;
        border-radius: 15px;
        color: white;
        text-decoration: none; }
      .forgot-password-container .outline-effect .auth-options #google-auth {
        padding: 5px 15px;
        display: flex;
        align-items: center;
        background: white; }
        .forgot-password-container .outline-effect .auth-options #google-auth img {
          height: 28px;
          width: 28px; }
      .forgot-password-container .outline-effect .auth-options #fb-auth {
        background: #1277f3;
        background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%); }

.remove {
  display: none; }

@media screen and (max-width: 480px) {
  .forgot-password-container {
    max-width: 88vw; }
    .forgot-password-container .outline-effect {
      height: 70vh; }
      .forgot-password-container .outline-effect .welcome-div {
        margin: 0;
        margin-bottom: 20px; }
        .forgot-password-container .outline-effect .welcome-div p {
          position: relative;
          font-size: 1.5rem; }
          .forgot-password-container .outline-effect .welcome-div p span {
            position: relative;
            width: 100%;
            font-size: 2rem; } }
