.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1A2733;
  padding: 20px 30px;
  border-radius: 20px; }
  .home-container h1 {
    margin: 10px; }
  .home-container #sign-out-button {
    margin: 5px;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0057D2;
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    text-decoration: none;
    background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%); }

@media screen and (max-width: 480px) {
  .home-container h1 {
    margin: 10px;
    font-size: 1.3rem; } }
