.issues-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: 90px; }
  .issues-container #search-results-heading {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 30px;
    color: gray; }
    .issues-container #search-results-heading i {
      margin-right: 5px; }
  .issues-container .hide {
    display: none !important; }
  .issues-container .issue-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; }
    .issues-container .issue-header .user-info {
      display: flex;
      align-items: center;
      color: dodgerblue;
      font-size: 1.2rem;
      font-weight: 600; }
      .issues-container .issue-header .user-info img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 10px; }
      .issues-container .issue-header .user-info .user-name {
        margin-left: 10px;
        margin-right: 5px; }
      .issues-container .issue-header .user-info .slash {
        color: gray; }
      .issues-container .issue-header .user-info .project-title {
        margin-left: 5px;
        margin-right: 10px; }
      .issues-container .issue-header .user-info .project-visibility {
        font-weight: 400;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.8);
        background-color: #30363c;
        border-radius: 10px;
        padding: 1px 8px;
        border: 1px solid rgba(255, 255, 255, 0.194);
        margin-top: 2px; }
      .issues-container .issue-header .user-info .user-project-name {
        display: flex;
        align-items: center; }
    .issues-container .issue-header .issue-header-right .star-button {
      display: flex;
      align-items: center;
      background-color: #30363c;
      border-radius: 5px;
      padding: 3px 13px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      color: #ffffff9e;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .issues-container .issue-header .issue-header-right .star-button i {
        color: #ffffff9e;
        margin-right: 5px;
        margin-bottom: 2px; }
      .issues-container .issue-header .issue-header-right .star-button:hover {
        border: 1px solid rgba(255, 255, 255, 0.5); }
  .issues-container .border {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.42);
    margin-top: 10px; }
  .issues-container .filter-create-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
    margin-top: 40px; }
    .issues-container .filter-create-bar .filter-search {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      color: #ffffff9e;
      font-weight: 500; }
      .issues-container .filter-create-bar .filter-search .active-filter {
        color: dodgerblue !important; }
      .issues-container .filter-create-bar .filter-search .filter-button {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 5px 10px;
        padding-right: 20px;
        border-radius: 5px 0 0 5px;
        border: 1px solid rgba(255, 255, 255, 0.194);
        color: #ffffff9e;
        font-weight: 500;
        background-color: #30363c;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
        .issues-container .filter-create-bar .filter-search .filter-button:hover {
          color: white;
          background-color: #2a2f35; }
        .issues-container .filter-create-bar .filter-search .filter-button i {
          color: #ffffff9e;
          margin-left: 5px; }
      .issues-container .filter-create-bar .filter-search .filters-expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.194);
        background-color: #30363c;
        height: max-content;
        width: max-content;
        min-width: 200px;
        position: absolute;
        z-index: 10;
        top: 40px;
        left: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
        .issues-container .filter-create-bar .filter-search .filters-expanded .filter-border {
          width: 100%;
          height: 1px;
          background-color: rgba(128, 128, 128, 0.42); }
        .issues-container .filter-create-bar .filter-search .filters-expanded .active-filter {
          color: dodgerblue !important; }
        .issues-container .filter-create-bar .filter-search .filters-expanded .heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 5px 10px;
          font-size: 0.9rem; }
          .issues-container .filter-create-bar .filter-search .filters-expanded .heading #close-button-filter {
            cursor: pointer; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .heading #close-button-filter:hover {
              color: white; }
        .issues-container .filter-create-bar .filter-search .filters-expanded .filters {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          width: 100%;
          height: 100%;
          color: #ffffffbd;
          font-size: 0.9rem; }
          .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter {
            display: flex;
            padding: 5px;
            cursor: pointer; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .group {
              display: flex;
              flex-direction: column; }
              .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .group .title {
                font-weight: 600; }
              .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .group .subheading {
                font-size: 0.8rem;
                color: gray; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter i {
              margin-right: 8px;
              margin-top: 5px; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter:hover {
              color: white; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .bug {
              color: #d73a4a; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .help {
              color: #28a745; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .invalid {
              color: #6f42c1; }
            .issues-container .filter-create-bar .filter-search .filters-expanded .filters .filter .question {
              color: #d876e3; }
      .issues-container .filter-create-bar .filter-search .search {
        display: flex;
        align-items: center;
        font-size: 1rem;
        width: 100%; }
        .issues-container .filter-create-bar .filter-search .search input {
          outline: none;
          border: none;
          width: 100%;
          padding: 7px 20px;
          padding-left: 30px;
          border-radius: 0 5px 5px 0;
          border: 1px solid rgba(255, 255, 255, 0.194);
          color: #ffffff9e;
          font-weight: 500;
          background-color: black;
          border-left: none;
          transition: all 0.2s ease-in-out;
          cursor: pointer; }
          .issues-container .filter-create-bar .filter-search .search input:hover {
            border: 1px solid rgba(255, 255, 255, 0.594); }
          .issues-container .filter-create-bar .filter-search .search input:focus {
            border: 1px solid rgba(255, 255, 255, 0.594); }
        .issues-container .filter-create-bar .filter-search .search i {
          position: relative;
          z-index: 1;
          color: #ffffff9e;
          margin-right: -25px;
          margin-bottom: 2px; }
    .issues-container .filter-create-bar .label-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      padding: 3px 10px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      color: #ffffff9e;
      font-weight: 500;
      background-color: #30363c;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-size: 1rem; }
      .issues-container .filter-create-bar .label-button:hover {
        color: white;
        background-color: #2a2f35; }
      .issues-container .filter-create-bar .label-button i {
        color: #ffffff9e;
        margin-right: 5px;
        margin-bottom: 2px; }
    .issues-container .filter-create-bar .labels-expanded {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      background-color: #30363c;
      height: max-content;
      width: max-content;
      position: absolute;
      z-index: 10;
      top: 40px;
      right: 110px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
      .issues-container .filter-create-bar .labels-expanded .label-border {
        width: 100%;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.42); }
      .issues-container .filter-create-bar .labels-expanded .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px 10px;
        font-size: 0.9rem; }
        .issues-container .filter-create-bar .labels-expanded .heading #close-button {
          cursor: pointer; }
          .issues-container .filter-create-bar .labels-expanded .heading #close-button:hover {
            color: white; }
      .issues-container .filter-create-bar .labels-expanded .labels {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
        height: 100%;
        color: #ffffffbd;
        font-size: 0.9rem; }
        .issues-container .filter-create-bar .labels-expanded .labels .label {
          display: flex;
          padding: 5px;
          cursor: pointer; }
          .issues-container .filter-create-bar .labels-expanded .labels .label .group {
            display: flex;
            flex-direction: column; }
            .issues-container .filter-create-bar .labels-expanded .labels .label .group .title {
              font-weight: 600; }
            .issues-container .filter-create-bar .labels-expanded .labels .label .group .subheading {
              font-size: 0.8rem;
              color: gray; }
          .issues-container .filter-create-bar .labels-expanded .labels .label i {
            margin-right: 8px;
            margin-top: 5px; }
          .issues-container .filter-create-bar .labels-expanded .labels .label:hover {
            color: white; }
          .issues-container .filter-create-bar .labels-expanded .labels .label .bug {
            color: #d73a4a; }
          .issues-container .filter-create-bar .labels-expanded .labels .label .help {
            color: #28a745; }
          .issues-container .filter-create-bar .labels-expanded .labels .label .invalid {
            color: #6f42c1; }
          .issues-container .filter-create-bar .labels-expanded .labels .label .question {
            color: #d876e3; }
    .issues-container .filter-create-bar .active-label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      padding: 3px 10px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      color: #ffffffd6;
      font-weight: 500;
      background-color: #30363c;
      transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      font-size: 1rem; }
      .issues-container .filter-create-bar .active-label i {
        cursor: pointer;
        color: #ffffff9e;
        margin-left: 5px; }
        .issues-container .filter-create-bar .active-label i:hover {
          color: white; }
    .issues-container .filter-create-bar .bug-active {
      background-color: #d73a4a; }
    .issues-container .filter-create-bar .help-active {
      background-color: #28a745; }
    .issues-container .filter-create-bar .invalid-active {
      background-color: #6f42c1; }
    .issues-container .filter-create-bar .question-active {
      background-color: #d876e3; }
    .issues-container .filter-create-bar .hide-active {
      display: none !important; }
    .issues-container .filter-create-bar .create-button {
      min-width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      padding: 3px 10px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      color: white;
      font-weight: 500;
      background-color: #29a33f;
      transition: all 0.2s ease-in-out;
      font-size: 1rem;
      cursor: pointer; }
      .issues-container .filter-create-bar .create-button:hover {
        background-color: #5cd672; }
  .issues-container .issue-nav {
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 30px;
    margin-left: 10px; }
    .issues-container .issue-nav a {
      text-decoration: none;
      margin: 0;
      padding: 0;
      margin-left: 1px;
      margin-right: 10px;
      font-weight: 500;
      padding: 5px 10px;
      color: silver;
      transition: all 0.2s ease-in-out;
      background-color: #2a2f35;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.194); }
      .issues-container .issue-nav a:hover {
        color: white; }
  .issues-container .active {
    color: white !important;
    border-bottom: orange 2px solid !important; }
  .issues-container .active-open {
    color: white !important;
    border-bottom: #28a745 2px solid !important; }
  .issues-container .active-closed {
    color: white !important;
    border-bottom: #6f42c1 2px solid !important; }
  .issues-container .issues-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: auto;
    border: 1px solid rgba(255, 255, 255, 0.194);
    border-radius: 10px;
    margin-top: 30px;
    background-color: #0e1117; }
    .issues-container .issues-list .no-issues {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .issues-container .issues-list .no-issues i {
        font-size: 1.5rem;
        color: #ffffff9e;
        margin: 10px;
        margin-top: 10%; }
      .issues-container .issues-list .no-issues .heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        margin: 10px; }
      .issues-container .issues-list .no-issues .sub-heading {
        width: 70%;
        text-align: center;
        color: #ffffff9e;
        margin-bottom: 10%; }
        .issues-container .issues-list .no-issues .sub-heading span {
          color: dodgerblue;
          font-weight: 600;
          cursor: pointer; }
          .issues-container .issues-list .no-issues .sub-heading span:hover {
            color: dodgerblue; }
    .issues-container .issues-list .issue-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.194); }
      .issues-container .issues-list .issue-card .left {
        display: flex;
        align-items: center; }
        .issues-container .issues-list .issue-card .left i {
          align-self: flex-start;
          color: #29a33f;
          margin-top: 8px; }
        .issues-container .issues-list .issue-card .left .info {
          display: flex;
          flex-direction: column;
          margin-left: 10px; }
          .issues-container .issues-list .issue-card .left .info .title {
            font-size: 1rem;
            font-weight: 600;
            color: white;
            margin: 5px;
            margin-bottom: 0px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            text-decoration: none; }
            .issues-container .issues-list .issue-card .left .info .title:hover {
              color: dodgerblue; }
          .issues-container .issues-list .issue-card .left .info .stats {
            align-self: flex-start;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff9e;
            font-size: 0.8rem;
            font-weight: 500;
            margin: 5px;
            margin-top: 0px; }
            .issues-container .issues-list .issue-card .left .info .stats i {
              margin-right: 5px; }
      .issues-container .issues-list .issue-card .right {
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-around; }
        .issues-container .issues-list .issue-card .right .labels {
          display: flex;
          align-items: center;
          justify-content: center; }
          .issues-container .issues-list .issue-card .right .labels .label {
            padding: 1px 10px;
            border-radius: 15px;
            border: 1px solid rgba(255, 255, 255, 0.194);
            color: #ffffff9e;
            font-weight: 500;
            background-color: #30363c;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-size: 0.9rem; }
            .issues-container .issues-list .issue-card .right .labels .label:hover {
              color: white;
              background-color: #2a2f35; }
            .issues-container .issues-list .issue-card .right .labels .label i {
              color: #ffffff9e;
              margin-right: 5px;
              margin-bottom: 2px; }
          .issues-container .issues-list .issue-card .right .labels .bug {
            background-color: #d73a4a7d;
            border: #d73a4a solid 1px; }
            .issues-container .issues-list .issue-card .right .labels .bug:hover {
              background-color: #d73a4a;
              border: #d73a4a solid 1px;
              box-shadow: 0 0 20px #d73a4a98; }
          .issues-container .issues-list .issue-card .right .labels .help {
            background-color: #28a7457d;
            border: #28a745 solid 1px; }
            .issues-container .issues-list .issue-card .right .labels .help:hover {
              background-color: #28a745;
              border: #28a745 solid 1px;
              box-shadow: 0 0 20px #28a74598; }
          .issues-container .issues-list .issue-card .right .labels .invalid {
            background-color: #6f42c17d;
            border: #6f42c1 solid 1px; }
            .issues-container .issues-list .issue-card .right .labels .invalid:hover {
              background-color: #6f42c1;
              border: #6f42c1 solid 1px;
              box-shadow: 0 0 20px #6f42c198; }
          .issues-container .issues-list .issue-card .right .labels .question {
            background-color: #d876e37d;
            border: #d876e3 solid 1px; }
            .issues-container .issues-list .issue-card .right .labels .question:hover {
              background-color: #d876e3;
              border: #d876e3 solid 1px;
              box-shadow: 0 0 20px #d876e398; }
        .issues-container .issues-list .issue-card .right .comments {
          display: flex;
          align-items: center;
          color: #ffffff9e; }
          .issues-container .issues-list .issue-card .right .comments i {
            margin-right: 5px;
            color: #ffffff9e; }
  .issues-container .tip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
    color: #ffffff9e;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px; }
    .issues-container .tip i {
      margin-right: 5px; }

@media screen and (max-width: 425px) {
  .issues-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 90px; }
    .issues-container #search-results-heading {
      font-size: 0.9rem;
      font-weight: 600;
      margin-top: 30px;
      color: gray; }
      .issues-container #search-results-heading i {
        margin-right: 5px; }
    .issues-container .hide {
      display: none !important; }
    .issues-container .issue-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .issues-container .issue-header .user-info {
        display: flex;
        align-items: center;
        color: dodgerblue;
        font-size: 1rem;
        font-weight: 600; }
        .issues-container .issue-header .user-info img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 10px; }
        .issues-container .issue-header .user-info .user-name {
          display: none; }
        .issues-container .issue-header .user-info .slash {
          color: gray;
          display: none; }
        .issues-container .issue-header .user-info .project-title {
          font-size: 1.1rem;
          margin-left: 5px;
          margin-right: 10px; }
        .issues-container .issue-header .user-info .project-visibility {
          display: none; }
        .issues-container .issue-header .user-info .user-project-name {
          display: flex;
          align-items: center; }
      .issues-container .issue-header .issue-header-right .star-button {
        margin-right: 5px;
        font-size: 0.8rem; }
    .issues-container .border {
      width: 100%;
      height: 1px;
      background-color: rgba(128, 128, 128, 0.42);
      margin-top: 10px; }
    .issues-container .filter-create-bar {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 0.9rem;
      width: 100%;
      margin-top: 40px; }
      .issues-container .filter-create-bar .filter-search .active-filter {
        color: dodgerblue !important; }
      .issues-container .filter-create-bar .filter-search .search {
        font-size: 0.9rem;
        width: 100%; }
      .issues-container .filter-create-bar .label-button {
        font-size: 0.9rem;
        margin-right: 5px; }
      .issues-container .filter-create-bar .labels-expanded {
        right: 6px; }
      .issues-container .filter-create-bar .create-button {
        display: none; }
    .issues-container .issue-nav {
      justify-content: center;
      width: 100%; }
      .issues-container .issue-nav a {
        font-size: 0.9rem; }
    .issues-container .issues-list {
      width: 100%;
      border-radius: 0px;
      border-right: none;
      border-left: none;
      margin-top: 50px;
      background-color: #0e1117; } }
