@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden !important; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0px;
  font-family: 'Poppins', "sans-serif";
  max-width: 100vw; }

body {
  position: relative;
  overflow-x: hidden !important;
  color: white;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black; }
  body #main-body {
    display: flex;
    flex-direction: column; }
  body::-webkit-scrollbar {
    margin: 2px;
    background-color: black; }
  body::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border-radius: 8px; }

::-webkit-scrollbar {
  width: 12px;
  height: 14px; }

::-webkit-scrollbar-thumb {
  border-radius: 8px; }

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; } }
