.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0;
  min-height: 90vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%);
  padding-top: 20px; }
  .main-container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    min-width: 500px;
    border-bottom: 1px solid #ffffff6c; }
    .main-container .nav p {
      margin: 0;
      padding: 0;
      margin-left: 1px;
      margin-right: 10px;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 10px;
      color: gray; }
      .main-container .nav p:hover {
        color: white;
        cursor: pointer; }
    .main-container .nav .my-projects {
      margin-right: 0; }
    .main-container .nav .nav-active {
      color: white;
      border-bottom: orange 2px solid; }
  .main-container .cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
