.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0%;
  z-index: 999;
  width: 100vw;
  height: auto;
  font-size: 1.3rem;
  background-color: #0E1117; }
  .navbar-container a {
    text-decoration: none; }
  .navbar-container .search-and-nav {
    display: flex;
    align-items: center;
    padding: 10px; }
    .navbar-container .search-and-nav img {
      height: 50px; }
    .navbar-container .search-and-nav i {
      font-size: 2rem;
      color: #fff; }
    .navbar-container .search-and-nav input {
      width: 300px;
      margin-left: 20px;
      margin-right: 10px;
      padding: 7px 10px;
      border-radius: 7px;
      border: none;
      outline: none;
      color: #fff;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.506);
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .navbar-container .search-and-nav input:focus {
        border: 1px solid white; }
      .navbar-container .search-and-nav input:hover {
        border: 1px solid white; }
    .navbar-container .search-and-nav .search-icon {
      margin-left: -40px;
      font-size: 1.1rem;
      margin-right: 20px;
      color: rgba(255, 255, 255, 0.527); }
    .navbar-container .search-and-nav a, .navbar-container .search-and-nav p {
      margin-left: 8px;
      font-size: 1.1rem;
      font-weight: 500;
      color: gray;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      .navbar-container .search-and-nav a:hover, .navbar-container .search-and-nav p:hover {
        color: white; }
  .navbar-container .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    margin-right: 15px;
    cursor: pointer; }
    .navbar-container .menu i {
      font-size: 1.5rem;
      color: #fff; }
    .navbar-container .menu .create-button {
      display: flex;
      align-items: center;
      padding: 7px 20px;
      border-radius: 10px;
      background-color: transparent;
      border: none;
      color: white;
      border: 1px solid #29a33f;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      background-color: #29a33f; }
      .navbar-container .menu .create-button i {
        font-size: 1.2rem;
        margin-right: 5px; }
      .navbar-container .menu .create-button:hover {
        background-color: #48c25e; }

@media screen and (max-width: 480px) {
  .navbar-container .branding {
    padding: 5px; }
    .navbar-container .branding img {
      height: 36px; }
    .navbar-container .branding p {
      margin-left: 8px;
      font-size: 1.2rem; }
      .navbar-container .branding p span {
        font-size: 1.7rem; }
  .navbar-container .menu {
    margin-right: 15px;
    cursor: pointer; } }
