.card-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20px;
  position: relative; }
  .card-container .user-info {
    display: flex;
    align-items: center; }
    .card-container .user-info img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 10px; }
    .card-container .user-info .user-name {
      margin-left: 10px; }
    .card-container .user-info .day {
      margin-left: 10px;
      color: #ffffff6c;
      font-size: 0.9rem; }
  .card-container .project-info {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #161B22;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.194);
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .card-container .project-info:hover {
      border: 1px solid rgba(255, 255, 255, 0.5); }
    .card-container .project-info .title {
      font-weight: 600; }
    .card-container .project-info .description {
      margin: 10px 0;
      color: #ffffff6c; }
    .card-container .project-info .card-footer {
      display: flex;
      align-items: center;
      color: #ffffff6c; }
      .card-container .project-info .card-footer .type {
        text-transform: capitalize; }
        .card-container .project-info .card-footer .type i {
          color: orangered;
          margin-right: 5px; }
      .card-container .project-info .card-footer .stars {
        margin-left: 10px; }
        .card-container .project-info .card-footer .stars i {
          color: white;
          margin-right: 5px; }
    .card-container .project-info .star-button {
      display: flex;
      align-items: center;
      background-color: #30363C;
      border-radius: 5px;
      padding: 3px 13px;
      border: 1px solid rgba(255, 255, 255, 0.194);
      position: absolute;
      top: 20px;
      right: 30px;
      color: #ffffff9e; }
      .card-container .project-info .star-button i {
        color: #ffffff9e;
        margin-right: 5px;
        margin-bottom: 2px; }
  .card-container .issues {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: dodgerblue; }
